body {
	font-size: 1.5rem;
}

.column {
	/* column-count: 4;
	column-width: 250px; */
	columns: 4 250px;
	column-rule: 3px solid#333;
	column-gap: 3rem;
}
.column p {
	margin-top: 0;
}

.column h2 {
	margin: 0;
	background-color: #333;
	color: antiquewhite;
	padding: 3rem;
	break-inside: avoid;
	break-before: column;
}

.column .quote {
	margin-top: 2rem;
	color: #333;
	text-align: center;
	font-size: 2rem;
	column-span: all;
}
.nowrap {
	white-space: nowrap;
}
